<div class="container">
  <div class="row mt-1">
    <div class="col-xs">
      <h1>
        {{title}}
      </h1>
    </div>
  </div><!--row-->
  <style>
    .playlist-row {
      border-bottom: 2px solid transparent;
    }
  </style>
  <div class="row mt-1">
    <div class="col-xs">
      <table class="table table-striped">
        <thead>
          <tr>
            <th> # </th>
            <th> Nazwa </th>
            <th> Utworów </th>
            <th> Ulubiona </th>
          </tr>
        </thead>
        <tbody>
          <!--ngClass może słuzyć do ustawiana stanów klas-->
          <!--ngStyle ustawia style dla klas-->
          <tr class="" 
          [ngClass]="{'table-active': selected == playlist, 'playlist-row': true}" 
          [ngStyle]="getPlaylistStyle(playlist)"
          (click)="selected = playlist">
            <td> 1 </td>
            <td> {{playlist.name}} </td>
            <td> 23 </td>
            <td>
              <label for="">
              <input type="checkbox" 
              [(ngModel)]="playlist.favourite"> Ulubiona</label>
            </td>
          </tr>
          <tr (click)="selected = null"
          [class.table-active]="selected == null">
            <td> 2 </td>
            <td> Angular Greatest Hits </td>
            <td> 2 </td>
            <td> false </td>
          </tr>
        </tbody>
      </table>
    </div><!--col-xs-->
    <div class="col-xs">
      <!--hidden ukrywa jeśli warunek jest poprawny-->
      <div [hidden]="selected != null" class="card">
        <div class="card-block">
          <h4 class="card-title">Nowa playlista</h4>
          <p class="card-text">Tworzenie nowej playlisty</p>
        </div>
         <div class="card-block">
          <div class="form-group">
            <label for="">Name:</label>
            <input type="text" class="form-control">
            </div>
         </div>
      </div>
      <div *ngIf="selected != null" class="card">
        <div class="card-block">
          <h4 class="card-title">Playlista</h4>
          <p class="card-text">Opis playlisty.</p>
        </div>
        <!--* odpina element od drzewa DOM i zamienia na szablon-->
        <div class="card-block">
          <div class="form-group">
            <label for="">Name:</label>
            <!--Sposób na odniesienie się do właściwości i jej wyświtlenie przez [] nawaias kwadratowy-->
            <!--Na zdarzenie (keyup) wykonuję kod "playlist.name = $event.target.value", który pobiera wartość lub stan elementu i aktualizuje dane-->
            <input type="text" [ngModel]="selected.name" (ngModelChange)="selected.name = $event" class="form-control">
                                    <!--[xxx]="zmienna" (xxxChange)="zmienna = $event"
                                        [(xxx)] = "zmienna"-->
          </div>
          <div class="form-group">
            <label for="">Tracks:</label>
            <input type="text" [value]="selected.tracks + ' utworów'" disabled class="form-control">
          </div>
          <div class="form-group">
            <label for="">Color:</label>
            <input type="color" [(ngModel)]="selected.color">          
          </div>
          <div class="form-group">
            <label for="">
              <input type="checkbox" [(ngModel)]="selected.favourite"> Ulubiona</label>
          </div>
          <div class="form-group">
            <button class="btn btn-success float-xs-right" (click)="save($event)">Zapisz</button>
            <!--Jeśli chce pobierać zdarzenie które się dzieje na komponencie to używam () np. (click)="save($event), a jeśli przekazuje dane do komponentu to [] np. [checked]="playlist.favourites",-->
          </div>
        </div><!--card-block-->        
      </div><!--card-->
    </div><!--col-xs-->
  </div><!--row-->
</div><!--container-->
